.container--textNotificationBar {
  justify-content: center;
  align-items: center;
  background-color: black;
}

.paragraph--textNotificationBar {
  color: white;

}

.strong--textNotificationBar {
  color: #2CFFF5;
}

.italic--textNotificationBar{
  font: normal normal 700 16px Nunito Sans;
  color: white;
  margin-right: 15px;
}

.strong--textNotificationBar:first-child, .strong--textNotificationBar:last-child {
  font: 22px Nunito Sans;
  font-weight: 900;
}

.container--searchBar {
  padding-left: 10px;
}

.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font: 16px Nunito Sans;
  font-weight: 800;
}

.container--dealsb {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font: 13px Nunito Sans;
  font-weight: 400;
}

.container--shelfTitle {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.heading--shelfTitle {
  font: 20px Nunito Sans;
  font-weight: 700;
  color: black;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--textTitle {
  margin-top: 50px;
  justify-content: center;
  color: black;
  font: 16px Nunito Sans;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.wrapper--textHome {
  color: black;
  text-align: center;
  font: 14px/25px Nunito Sans;
  font-weight: 400;
}

@media only screen and (min-width: 700px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }

  .container--about, .container--service, .container--help {
    margin-left: 28.5px;
  }

  .container--shelfTitle {
    margin-bottom: 0;
  }

  :global(.vtex-rich-text-0-x-paragraph--textHome) {
    margin: 0 20px 0 20px !important;
  }

}
