.minicartQuantityBadgeDefault {
  background: #2CFFF5;
  color: #000000;
}

.minicartContainer :global(.vtex-button):focus {
  background-color: #ffffff;
  outline: #ffffff;
}

.minicartContainer :global(.vtex-button):hover {
  background-color: #ffffff;
} 