.notificationBarContainer {
  background-color: #e6f1e6;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.logoImage {
    padding-top: 7px;
    margin-left: 15px;
}

.searchBarInnerContainer {
  width: 898px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  border-bottom: 1px solid grey;
  padding: 0;
}

:global(.vtex-input__suffix) {
  padding: 0 !important;
}



.imageElement--firstCarousel {
  width: 1083px;
  height: 650px;
}

.imageElement--dealsb {
  display: flex;
}

.imageElement--carousel {
  max-width: 139px;
}

.container {
  padding: 0;
}

.imageElement--imgs {
  width: 192px;
  height: 301px;
  margin-right: 21px;  
}

.searchBarIcon {
  color: #4F32FE;
  margin-left: -20px;
}


.newsletter {
  background-color: #4F32FE;
}

.newsletter--news {
  width: 100%;
  height: 304px;
}

.label--news {
  color: #fff;
  font-weight: 700;
  font: 20px Nunito Sans;
}

.label--news::after {
  content: "\a  Acompanhe nossas novidades.\a Cadastre-se em nossa newsletter.\a\a";
  color: #fff;
  white-space: pre-wrap;
  font-weight: 400;
  font: 14px Nunito Sans ;
}

.label {
  color: #fff;
  font-size: 20px;
}

.inputGroup {
  font-family: Nunito Sans;
  font-weight: bolder;
  padding-bottom: 4px;
  display: block;
  color: #fff;
}

.input :global(.vtex-store-components-3-x-searchBarContainer) {
  padding-top: 0;
  padding-bottom: 0;
  margin: 3px;
}

:global(.vtex-input-prefix__group) {
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  border: none;
  font-weight: 700;
  border-radius: 29px;
  background-color: #2811aa;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  font-size: 16px;
  margin-left: 30px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  font: 14px Nunito Sans ;
  font-weight: 900;
  border: none;
  display: block;
}

.buttonContainer {
  padding-top: 0px;
  justify-content: center;
  display: flex;
}

.imageElement--storePrint {
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media screen and (max-width: 700px) {
  .logoImage {
    display: flex;
    margin-top: 0px;
    justify-content: left;
  
  }
  .logoContainer {
    padding: 0;
    display: contents;
  }

  .searchBarIcon {
    color: white;
  }

  .container-news {
    margin: 0px 21px 0px 21px;
  }

  .label {
    margin-top: 41px; 
    font-size: 40px;
  }
  
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    margin: 0;
    background-color: #4f32fe;
    border: none;
    padding: 0px; 
  }
  
  :global(.vtex-input-prefix__group) {
    border-radius: 0;
    border: none;
    height: 57px;
  }

  :global(.vtex-input__suffix) {
    border-radius: 0;
    background-color: #4F32FE;
  }

  :global(.vtex-styleguide-9-x-input)::placeholder {
    color: white;
    font-weight: 300;
    font: 14px Nunito Sans;
    text-align: start;
  }

  .searchBarContainer {
    background-color: #4f32fe;
    border: none;
  }

.newsletter {
  background-color: #4F32FE;
  margin: 0 auto;
}



.label--news {
  color: #fff;
}

.label--news::after {
  content: "\a\a  Acompanhe nossas novidades.\a Cadastre-se em nossa newsletter.\a\a";
  color: #fff;
  white-space: pre-wrap;
  font-weight: 400;
  font: 14px Nunito Sans ;
}

.label {
  color: #fff;
  font-weight: 700;
  font: 20px Nunito Sans;
}

.inputGroup {
  font-family: Nunito Sans;
  font-weight: bolder;
  padding-bottom: 4px;
  display: block;
  color: #fff;
}

:global(.vtex-store-components-3-x-searchBarContainer) {
  padding-top: 0;
  padding-bottom: 0;
}

:global(.vtex-store-components-3-x-container) {
  padding: 0px;
}

:global(.vtex-input-prefix__group) {
  border: none;
}

:global(.vtex-store-components0-x-searchIcon--searchBar) {
  color: white
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  border: none;
  margin-left: 28px;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  border: none;
  border-radius: 29px;
  background-color: #2811aa;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  font-size: 14px;
  font-weight: 300;
  margin-left: 30px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  font: 14px Nunito Sans ;
  font-weight: 900;
  border: none;
  display: block;
}

/*.label--news {
  height: 150px;
  padding-top: 41px;
}*/

.form--news :global(.vtex-store-components-3-x-form--news){
  height: 150px;
  padding-top: 41px;
}
 
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  font-weight: 400;
  font: 20px Nunito Sans;
  color: black;
}
