.accordionIcon {
  display: none;
}

.styledLinkContent--firstMenuItem {
  font-weight: 600;
  font-size: 0.9375rem;
  color: #000000;
}

.styledLinkIcon--firstMenuItem {
  margin-right: 1.0rem;
}

.styledLinkContainer--firstMenuItem {
  margin-right: 20px;
}