.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0 0;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}


.flexRowContent--row2Desktop .stretchChildrenWidth {
  width: auto !important;
}

.flexRowContent--row2Desktop {
  height: 56px;
  display: flex;
}

.flexRow--row2Desktop {
  height: 56px;
  justify-content: center;
  align-self: center;
}

.flexRow--row3Desktop {
  justify-content: center;
  align-self: center;
}

.flexRowContent--row3Desktop {
  max-width: 1260px;
  justify-content: center;
  align-self: center;
}

.container--deals {
  max-width: 1260px;
}

.flexRow--deals {
  background-color: #4F32FE;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}
 
.flexRow--rowImages {
  margin-top: 50px;
  margin-left: 20px;
  padding: 0;
  display: flex;
}

.flexRow--banners {
  margin-top: 50px;
}

.container--rowBanners {
  margin-top: 15px;
}



.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--searchBar {
  padding: 0 !important;
}



@media screen and (max-width: 700px) {
  .flexRow--rowImages {
    margin-top: 50px;
    padding: 0;
    display: flex;
  }
  
  .flexRow--notificationBar {
    background-color: black;
    height: 41px;
  }
  
  .flexRowContent--rowImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  .flexRow--rowBanners {
    margin-top: 50px;
    padding: 0;
  }

  :global(.vtex-flex-layout-0-x-flexRow--socialNetworksMob) {
    justify-content: center;
    align-items: center;
  }

  .flexRowContent--paymentImgs {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
}