.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: center;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworksContainer {
  display: flex;
  justify-content: center;
  background-color: #F6F5F8;
  padding: 0;
  margin: 0;
}

.acceptedPaymentMethodContainer {
  display: flex;
  justify-content: center;
  background-color: #F6F5F8;
  padding: 0;
  margin: 0;
}
