.profileIcon {
  width: 19px;
  height: 23px;
}

.container :global(.vtex-login-2-x-container) {
margin-right: 0px;
}

.emailPasswordOptionBtn :global(.vtex-button__label), .acessCodeOptionBtn :global(.vtex-button__label) {
  color: black;
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
}

.buttonSocial :global(.vtex-login-2-x-oauthLabel) {
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
}

.container :global(.relative):focus {
  outline: #ffffff;
} 

.container :global(.vtex-button__label) {
  padding: 0;
  width: 20px;
  height: 24px;
  margin: 0;
}

.container :global(.vtex-button):focus {
  border-color: #ffffff;
  background-color: #ffffff;  
}

.container :global(.vtex-button):hover {
  border-color: #ffffff;
  background-color: #ffffff;  
}

.container :global(.vtex-button):active {
  border-color: #ffffff;
  background-color: #ffffff;  
}

