
.flexRowContent--menu-link {
  background-color: white;  
}

.flexRowContent--main-header {
  background-color:#FFFFFF;
}

.flexRowContent--main-header-mobile {
  background-color: #ffffff;
  align-items: center;
  height: 55px;
}



.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #4f32fe;
  padding: 14px 0px;
}
@media screen and (max-width: 700px) {
  .flexCol--deals2,
  .flexCol--deals3,
  .flexCol--deals4{
    display: none;
  }
}
.flexCol--deals1 {
  display: contents;
  height: 77px;
}


.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}
